.App {
  text-align: center;
  font-family: monospace;
  color: rgb(50, 45, 58);
  padding-top: 10vh;
}

img {
  height: 50vh;
  width: auto;
  margin: 4vh;
  border: 2px solid grey;
  transition: width 0.5s;
}

#button {
  border: 2px solid grey;
  width: 10vh;
  margin: 0 auto;
  padding: 1vh;
}

#button:hover {
  background-color: lightgrey;
}

#chosen-ones {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin-left: 1vh;
  margin-right: 1vh;
}
